.date__item {
    text-align: center;
    border-radius: 7px;
    background-color: $white;
    box-shadow: 0 3px 6px $shadowDate;

    &-time {
        font-size: $fontSize-m;
    }

    &-day {
        font-size: 14px;
        font-weight: 400;
    }

    &:hover {
        color: $white;
        background-color: $whiteSkyeBlue;
        transition: 0.3s;
    }

    @include mobile {
        padding: 8px  5px !important;
        // width: calc(20% - 4px);

        &-time {
            font-size: 8px;

        }

        &-day {
            font-size: 8px;
        }
    }
}