.read__more {
    height: 50px;
    @include btnCustom($white, $deepSkyBlue, $transparent);
    padding: 15px 12px 15px 31px;
    box-shadow: 0px 2px 2px $shadowDate;

    &-next {
        padding-left: 20px;
    }

    &:hover {
        transition: 0.5s;
        background-color: $blueOcean;
    }
}