@keyframes fadeIn {
  from {
      transform: translateY(-10px);
      opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes growth {
  from {
      transform: scale(var(--growth-from));
  }
  to {
      transform: scale(var(--growth-to));
  }
}