.tr_reset {
  background-color: #fff !important;
}

.tr_head {
  background-color: $whiteSmoke !important;
}

.tr_color-Disable {
  background-color: #d6d6d6 !important;
}
.tr_color-New {
  background-color: #d6d6d6 !important;
}
.tr_color-Cancel {
  background-color: #d6d6d6 !important;
}

.tr_color-Finish {
  background-color: #f1cea5 !important;
}

.tr_color-Waitingapprove {
  background-color: #f5bbc2 !important;
}