.popup-work {
    // position: fixed;
    // width: 40%;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);
    // background-color: $black;
    // padding: 3px;

    @include mobile {
        width: 100%;
    }

    &__select {
        position: relative;
        background-color: $white;
        @include justifyContent(space-between);
        border-radius: 5px 5px 0 0;
        border-bottom: 2px solid $lightgray;
        padding: 15px 20px;

        &-name {
            color: $blueOcean;
        }

        &-number {
            color: $blueOcean;
        }
    }

    &__delete {
        position: absolute;
        right: 7px;
        top: 3px;
        @include flexCenter;
        padding-bottom: 4px;
        font-size: 16px;
        width: 15px;
        height: 15px;
        color: $white;
        border-radius: 50%;
        background-color: $whiteGray;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            background-color: $redTomato;
        }
    }

    &__detail {
        padding: 0 5px 5px 20px;
        background-color: $white;
        border-radius: 0 0 5px 5px;

        &-name {
            padding-top: 10px;
            font-weight: 600;

            @include mobile {
                font-size: 12px;
            }
        }

        &-list {
            height: 300px;
            border: 2px solid $lightgray;
            border-radius: 5px;
            overflow-y: auto;
        }

        &-work {
            // @include justifyContent(space-between);
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid $lightgray;
            cursor: pointer;

            @include mobile {
                padding: 5px 20px;
            }

            &-btn {
              background: transparent;
              width: 100%;
              text-align: left;
              margin-left: -15px;

              :nth-child(2) {
                font-weight: 100;
              }
            }

            &-icon {
                padding-right: 15px;
                font-size: 20px;
                top: 15px;
                cursor: pointer;
            }

            &-name {
                font-weight: 600;

                @include mobile {
                    font-size: 10px;
                }
            }

            &-number {
                font-size: 10px;

                @include mobile {
                    font-size: 10px;
                }
            }

            // &:hover {
            //     background-color: $bluewhite;
            // }
        }

        .active {
            background-color: #d3e6ff;
        }
    }

    &__button {
        padding-top: 20px;
        @include justifyContent(center);
    }

    &__search {
        padding: 10px 10px 10px 20px;
        background-color: $blueOcean;
        color: $white;
        border-radius: 7px;

        &-icon {
            margin-left: 20px;
        }

        &:hover {
            transition: 0.5s;
            color: $black;
            background-color: $whiteSkyeBlue;
        }
    }

    &__link {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    &__reset {
        color: $grayDark;
        background-color: #fff;
    }
}

.popup-station {
    // position: fixed;
    // width: 60%;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);
    // background-color: $black;
    // padding: 3px;

    &__box {
        @include justifyContent(space-between);

        .popup-work__box {
            width: calc(33.33% - 6px);

            @include mobile {
                width: 100%;

                .popup-work__detail-list {
                    height: 100px;
                    overflow-y: auto;
                }
            }
        }

        @include mobile {
            @include flexDirection(column);
        }
    }

    &__detail {
        cursor: pointer;

        &-item {
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid $lightgray;

            &:hover {
                transition: 0.3s;
                background-color: $blueLight;
            }

            @include mobile {
                padding: 5px 20px;
            }
        }

        &-des {
            padding-left: 10px;

            @include mobile {
                font-size: 10px;
            }
        }
    }

    @include mobile {
        width: 100%;
    }
}