.reset-password  {

    &__name {
        @include fontText(600, 18px, $black);
    }

    &__form {
        max-width: 360px;
        margin: 50px auto;

        &-title {
            @include fontText(normal, 16px, $blackLight);
            text-align: center;
            margin-bottom: 30px;
        }

        .form-group {
            @include flexDirection(column);

            &__input {
                padding: 5px;
            }

            &__label {
                @include fontText(normal, 15px, $blackLight);
                margin-bottom: 5px;
            }
        }

        &-btn {
            @include btnCustom($white, $deepSkyBlue, $transparent);
            width: 100%;
            margin: 10px auto;
            font-size: 16px;

            &:hover {
                background-color: $blueOcean;
            }
        }
    }
}