// header-sroll
.header-sroll {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $blueOcean;
    z-index: 10;
    animation: fadeIn ease-out 0.5s;

    &__menu {
        @include justifyContent(space-between);
    }

    &__date {
        border-radius: 3px;
        width: 76%;
        background-color: $white;
        margin: 8px 8px 8px 0;
        @include justifyContent(space-between);
        align-items: center;

        .header__status-register {
            padding: 8px 23px;
        }
    }

    &__status {
        @include justifyContent(space-between);
        padding: 8px;

        &-icon {
            .btn-noti__status {
                border-radius: 0 3px 3px 0;
                border-left: 0;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &-img {
            .btn-noti__status {
                border-radius: 3px 0 0 3px;
            }
        }
    }

    @include mobile {
        display: none;
    }
}

// date
.date {
    padding: 30px 0;

    .slick-arrow.slick-prev, .slick-arrow.slick-next {
      display: none !important;
    }

    .slick-slide {
      display: flex !important;
      align-items: center;
      height: 100px;

      @include mobile {
        height: 60px;
        }
    }

    .slick-slide>div {
      width: 100%;
    }

    &__name {
        &-content {
            @include fontText(600, $fontSize-m, $black);
        }
    }

    &__slide {
        @include justifyContent(space-between);
        align-items: center;

        &-content {
          width: 860px;

          @include mobile {
              width: 360px;
          }
        }

        &-pagination-false {
          visibility: hidden;
          @include mobile {
            display: none;
        }
        }

        &-pagination-true {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background-color: $darkBlue;
            @include mobile {
                display: none;
            }

            &-again {
                color: $white;
                transform: rotate(180deg);
                margin-left: -5px;
            }

            &-next {
                margin-left: -2px;
                color: $white;
                font-size: 30px;
                
            @include mobile {
                display: none;
            }

            }

            &-prev {
              margin-left: -5px;
              color: $white;
              font-size: 30px;
              
            @include mobile {
                display: none;
            }
          }

            &:hover {
                transition: 0.5s;
                background-color: $whiteSkyeBlue;
            }
        }

        &-active {
            background-color: $deepSkyBlue;
            color: $white;
        }
    }

    @include mobile {
        padding-top: 20px;

        &__name {
            &-content {
                @include fontText(600, 14px, $black);
            }

            &-note {
                @include fontText(500, 12px, $black);
            }
        }

        &__slide {
            &-pagination {
                display: none;
            }
        }
    }
}

// content
.list-product {
    background-color: $ghostwhite;

    &__date {
        padding-top: 50px;
        &-day {
            @include fontText(600, 20px, $black);
        }

        &-work {
            font-size: $fontSize-m;
        }

        &-choose {
            @include fontText(600, 22px, $blueOcean);
        }

        @include mobile {
            padding-top: 20px;

            &-day {
                @include fontText(600, 14px, $black);
            }

            &-work {
                font-size: $fontSize-mm;
            }

            &-choose {
                @include fontText(600, 16px, $blueOcean);
            }
        }
    }

    &__select {
        padding-top: 25px;
        display: flex;

        @include mobile {
            padding-top: 10px;
        }
    }

    .select__locate {
        @include mobile {
            margin-left: 4px;
            padding: 2px;
            width: 120px;

            &-address {
                margin-left: 4px;
                font-size: $fontSize-mm;
            }

            &-icon {
                margin-top: -5px;
                padding-left: 5px;
                font-size: $fontSize-mm;
            }

            &-img {
                margin-left: 3px;
                width: 15px;
            }
        }
    }

    &__section {
        display: flex;
        padding-top: 25px;

        &-time {
            border-radius: 0;
            border: 1px solid $whiteGray;
            padding-left: 40px;
            padding-right: 40px;
            background-color: $white;
            font-weight: 500;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }

            &:hover {
                border-color: $transparent;
                transition: 0.5s;
                background-color: $whiteSkyeBlue;
                color: $white;
            }
        }

        &-active {
            border-color: $transparent;;
            transition: 0.5s;
            background-color: $darkBlueLight;
            color: $white;
        }

        @include mobile {
            padding-top: 17px;

            &-time {
                font-size: $fontSize-mm;
                padding: 9px 38px;
            }
        }
    }

    &__content {
        // @include justifyContent(space-between);
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            margin-right: 0;
        }

    }

    .product {
        margin-top: 30px;
        width: calc(33.33% - 20px);

        &:nth-child(3n + 2) {
          margin-left: 28px;
          margin-right: 28px;
        }

        &__icon {
            display: none;
        }

        @include mobile {
            position: relative;
            margin-top: 20px;
            width: calc(50% - 6px);

            &:nth-child(2n) {
                margin-left: 6px;
                margin-right: 0;
              }

              &:nth-child(2n-1) {
                margin-right: 6px;
                margin-left: 0;
              }

            &__detail {
                border-radius: 0 0 15px 15px;
                padding: 12px;

                &-date{
                    &-img {
                        width: 11px;
                    }

                    &-day {
                        font-size: $fontSize-s;
                    }
                }

                &-block {
                    display: inline;
                }

                &-item {
                    display: inline-flex;
                    padding-right: 10px;

                    &-img {
                        padding-left: 5px;
                        margin-right: 5px;
                    }

                    &-train {
                        margin-left: 5px;
                        font-size: 11px;
                    }
                }

                &-des {
                    font-size: 15px;
                    margin-top: 5px;
                }

                &-price {
                    font-size: 18px;
                    margin-top: 0;
                }
            }

            &__pagination {
                display: none;
            }

            &__read {
                display: none;
            }

            &__icon {
                display: block;
                position: absolute;
                background-color: transparent;
                top: 0;
                right: 0;
                cursor: pointer;
            }
        }
    }

    .status {
        @include mobile {
            &__item  {
                padding: 0 0 2px 0;
                border-radius: 5px;

                &-icon {
                    width: 12px;
                    height: 12px;
                    margin-top: -5px;
                }

                &-detail {
                    font-size: 5px;
                    padding-top: 0;
                    margin-top: -5px;
                }
            }
        }
    }

    &__view {
        margin-top: 70px;
        padding-bottom: 130px;
        @include justifyContent(center);

        &-title {
            padding: 15px 85px;
            border-radius: 6px;
            background-color: $blueOcean;
            color: $white;
        }

        @include mobile {
            margin-top: 40px;
            padding-bottom: 80px;

            &-title {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.date__item {
  padding: 14px 17px ;
  width: 91%;
  display: block;
  margin: 0 auto !important;

}

.red {
   color: red;
   background-color: transparent !important;
}

.blue {
  color: blue;
  background-color: transparent !important;
}
