.apply-detail {
    &__infor {
        width: 43%;
        border: 1px solid $grayLight;
        box-shadow: 2px 4px 6px $grayLight;
        padding: 0 20px 30px 20px;
    }

    &__box {
        @include justifyContent(space-between);
    }

    &__rate {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 55%;

        &-param {
            width: calc(50% - 10px);
            border: 1px solid $grayLight;
            padding: 0 10px 0 5px;
            box-shadow: 2px 4px 6px $grayLight;
            margin-top: 10px;

            &:nth-child(1) {
                margin-bottom: 27px;
            }
            &:nth-child(2) {
                margin-bottom: 27px;
            }
        }

        &-top {
            padding-bottom: 20px;
            @include justifyContent(space-between);
            border-bottom: 1px solid $grayLight;
        }

        &-icon {
            color: $white;
            font-size: 25px;
        }

        &-box {
            @include flexCenter;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin-top: -10px;
        }

        &-number {
            @include flexDirection(column);
            align-items: flex-end;

            &-param {
                font-size: 20px;
            }
        }

        &-infor {
            width: 100%;
            @include alignItems(center);
            padding: 5px;

            &-name {
                font-size: 14px;
                margin-right: 10px;
            }

            &-icon {
                @include flexCenter;
                background-color: $whiteGray;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                border: 1px solid;
            }
        }
    }

    &__des {
        @include justifyContent(space-between);
        flex-wrap: wrap;

        &-box {
            width: calc(50% - 4px);
            margin-bottom: 10px;
            border: 1px solid $grayLight;

            &-title {
                color: $grayLight;
            }

            &-contact {
                display: flex   ;
            }

            &-address {
                padding: 0 20px;
                margin-right: 7px;
                border-radius: 5px;
                border: 2px solid $grayLight;
                background-color: $whiteGray;
            }

            &:nth-child(3) {
                width: 100%;
            }

            &:nth-child(4) {
                width: 100%;
            }
        }
    }

    &__certificate {
        &-name {
            color: $grayLight;
        }

        &-box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        &-image {
            width: 15%;
            margin-right: 5px;
        }

        &-img {
            position: relative;
            width: 100%;
            padding-top: 75%;
            background-color: $grayLight;

            img {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 90%;
                height: 89%;
            }
        }
    }

    &__button {
        @include justifyContent(flex-end);

        &-btn {
            font-weight: 500;
            text-transform: uppercase;
            padding: 5px 40px;
            color: $white;
            border: 1px solid $transparent;
        }
    }
}

.white {
    color: $black;
    background-color: $white;
    border: 1px solid $black;

    &:hover {
        background-color: $grayLight;
        color: $white;
        border: 1px solid $transparent;
        transition: 0.3s;
    }
}

.pink {
    background-color: $pinkDark;

    &:hover {
        background-color: $white;
        color: $pinkDark;
        border: 1px solid $pinkDark;
        transition: 0.3s;
    }
}

.blueAcc {
    background-color: $blue;

    &:hover {
        background-color: $white;
        color: $blue;
        border: 1px solid $blue;
        transition: 0.3s;
    }
}

.icon-orange {
    background-color: $orange;
}

.icon-blue {
    background-color: $blue;
}

.icon-red {
    background-color: $red;
}
