.profile {

    .notify-confirm {
        border: none;
        padding: 0%;
    }

    &__confirm {
        margin-top: 50px;

        @include justifyContent(center);

        &-btn {
            @include btnCustom($blueOcean, $white, $blueOcean);
            width: 300px;
            justify-content: space-around;
            p {
                @include fontText(bold, 16px, $blueOcean);
            }

            i {
                @include fontText(bold, 16px, $blueOcean);
            }
        }
    }
}