.profile {

    &__text {
        @include fontText(normal, 14px, $blueOcean);
    }

    &__idcard {
        @include justifyContent(space-between);
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
        }

        &-box {
            width: calc(50% - 10px);
            @include mobile {
                width: 100%;
            }
        }

        &-btn {
            margin: 0 auto;
            @include btnCustom($white, $deepSkyBlue, $transparent);
            width: 300px;
            height: 50px;
        }
    }
}