.confirmation {
    &__item {
        display: flex;

        &-title {
            width: 20%;
        }

        &-detail {
            width: 80%;

            &-des {
                width: 100%;
            }

            &-date {
                display: inline-block;
                width: 22%;
            }
        }

        &-button {
            border: 1px solid $black;
            background-color: $whiteGray;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        &-box {
            width: 80%;
            @include justifyContent(space-between);

            &-des {
                width: calc(33.33% - 10px);
                @include flexCenter;
                background-color: $grayLight;
            }

            &-img {
                padding-top: 56.25%;
                position: relative;
                width: 100%;
                margin: 10px;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}