.list-occupation {

    &__header {
        @extend .list-jobcategory__header;

        &-btn-add {
            @extend .list-jobcategory__header-btn-add;
        }
    }

    &__overview {

        &-total {
            @extend .list-company__overview-total;
        }
    }

    &__box {
        @include justifyContent(space-between);
        flex-wrap: wrap;

        .occupation-item {
            width: calc(50% - 10px);
            display: flex;
            border: 1px solid $grayLight;
            margin-top: 20px;
        
            &__left {
                width: 35%;
                background-color: $grayLight;
                @include justifyContent(center);
                align-items: center;
        
                &-img {
                    margin: 15px;
                    width: 100%;
                    padding-top: 56.25%;
                    position: relative;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }  
            }
        
            &__right {
                width: 65%;
                padding: 10px 15px 57px 15px;
                @include flexDirection(column);
                position: relative;
                font-size: 14px;
        
                &:hover {
                    background-color: $whiteGray;
                    transition: all ease 0.5s;
                }
        
                &-title {
                    @include text-limit-one-line(1.2rem);
                }
        
                &-desc {

                    p {
                        @include text-limit-by-line(5, 1.2rem);
                    }
                }
        
                &-btn {
                    @include justifyContent(flex-start);
                    position: absolute;
                    bottom: 5px;
                    left: 10px;
                }
        
                &-delete {
                    @include btnCustom($white, $darkRed, $transparent);

        
                    &:hover {
                        @include btnCustom($darkRed, $white, $darkRed);
                    }
                }
        
                &-edit {
                    @include btnCustom($black, $white, $black);
                    padding-left: 13px;
                    padding-right: 13px;
                    
                    &:hover {
                        background-color: $whiteOpa5;
                    }
                }
        
                &-create {
                    @include btnCustom($white, $golden, $transparent);
                    text-transform: uppercase;
                    padding-left: 20px;
                    padding-right: 20px;
        
                    &:hover {
                        color: $golden;
                        background-color: $white;
                        border-color: $golden;
                    }
                }
            }
        }
    }
}