.footer {
    // yposition: relative;

    &__pagination {
        position: absolute;
        top: 64%;
        position: fixed;
        right: 55px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0 3px 6px $shadowDate;
        background-color: $darkBlue;
        @include flexCenter;

        &-icon {
            font-size: 40px;
            margin-bottom: 5px;
            color: $white;
        }

        &:hover {
            transition: 0.3s;
            background-color: $whiteSkyeBlue;
        }

        @include mobile {
            width: 40px;
            height: 40px;
            top: -4%;
            right: 15px;

            &-icon {
                @include mobile {
                    font-size: 35px;
                    font-weight: 600;
                }
            }
        }
    }

    &__top {
        padding: 45px 15px 30px 15px;
        @include alignItems(center);
        justify-content: space-between;

        &-logo {
            width: 15%;

            &-name {
                font-weight: 900;
            }

            @include mobile {
                width: 100%;
                text-align: center;
                padding-bottom: 45px;
            }
        }

        &-nav {
            width: 85%;
            @include alignItems(center);
            justify-content: space-between;
    
            &-menu {
                width: 75%;
                padding: 15px 20px 15px 0;
                @include justifyContent(space-around);
                border-right: 1px solid $lightgray;

                @include mobile {
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    border: none;
                }
            }

            &-link {
                color: $blackDark;
            }

            @include mobile {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;

                .btn-login {
                    width: 100%;
                    @include flexCenter;

                    &__text {
                        margin-left: 15px;
                        font-size: 16px;
                    }
                }

                &-item {
                    width: calc(50% - 10px);
                    padding-bottom: 15px;
                    font-size: 14px;
                }
            }
        }

        @include mobile {
            @include alignItems(center);
            flex-direction: column;
        }
    }

    &__navbar {
        background-color: $blueOcean;
    }

    &__nav {
        &-menu {
            @include justifyContent(center);

            &-item {
                padding: 0 30px;
            }

            &-link {
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: $fontSize-s;
                color: $white;
                display: block;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 0;
                    left: 0;
                    bottom: 10px;
                    background-color: $white;
                }

                &:hover {
                    color: $white;

                    &::after {
                        width: 100%;
                        transition: 0.5s;
                    }
                }
            }

            @include mobile {
                display: inline;

                &-item {
                    width: 100%;
                }

                &-link {
                    font-size: $fontSize-s;
                }
            }
        }
    }

    &__copyright {
        padding-top: 25px;
        padding-bottom: 25px;

        &-text {
            text-align: center;
            color: $grayDark;
            font-size: $fontSize-mm;
        }
    }

}