.pagination {
    @include justifyContent(center);

    &__page {
        letter-spacing: -5px;

        li {
            letter-spacing: 0;
            padding: 0 8px;
            
            
            cursor: pointer;

            a {
                color: $black;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            &:hover {
                a {
                    color: $golden !important;
                    border-bottom: 1px solid $golden;
                }
            }
        }

        &-active {
            a {
                color: $blue !important;
                border: 1px solid $blue;
                padding: 5px;
            }
        }
    
    }
}
