.form {

    &__tutorial {
        text-align: center;
        margin-top: 15px;
    }
    
    &__validate-correct {
        @include blockValidate($gray, $blueLight);
        @include flexCenter;
    }

    &__link {
        @include justifyContent(flex-end);
    }

    &__link-back-login {
        text-decoration: underline;
        color: $black;
        margin-top: 20px;
        @include flexCenter;
    }
}