.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  position: relative;
  background: white;
  margin: 0.5rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 0 1rem 0.5rem 1rem;
  display: block;
  height: auto;
  overflow: visible !important;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.modal-close-button {
  cursor: pointer;
  border: 1px solid;
  position: absolute;
  font-weight: 100 !important;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f7f1f1a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

.text-error {
  font-size: 10px;
  color: red;
}


.width_modal {
  max-width: 1000px !important;
}

.custom_btn {
  top: 25px;
    right: 30px;
    height: 20px;
    width: 20px;
    background-color: #e1e1e1;
    color: #fff;
    border: none;
}